In [1]:
import requests
import pandas as pd
from pprint import pprint

In [3]:
#Census data by county and state

url = 'http://api.census.gov/data/2019/pep/population?get=COUNTY,DENSITY,POP,NAME,STATE&for=county:*&key=6a2106e3c2f11754ccb4d218d7aa0ab5502c5c95'

response = requests.get(url).json()
# pprint(response)
countystate = []
density = []
pop = []


for elements in response[1:]:
    countystate.append(elements[3])
    pop.append(elements[2])
    density.append(elements[1])

census_by_county_df =  pd.DataFrame({"County": countystate,
                                      "Population":pop,
                                       "density": density})   

census_by_county_df

                            County Population               density
0       Hidalgo County, New Mexico       4198      1.22086927860000
1        Hudson County, New Jersey     672391  14555.93898300000000
2     Hunterdon County, New Jersey     124371    290.70129177000000
3        Morris County, New Jersey     491845   1067.00355890000000
4      McKinley County, New Mexico      71367     13.09323114300000
...                            ...        ...                   ...
3215   Okanogan County, Washington      42243      8.02155238020000
3216   Kittitas County, Washington      47935     20.86571669800000
3217     Benton County, Washington     204390    120.22256331000000
3218      Clark County, Washington     488241    776.85533336000000
3219      Warren County, Tennessee      41277     95.39988259500000

[3220 rows x 3 columns]

In [6]:
# NY State Subset
ny_census=census_by_county_df.loc[census_by_county_df["countystate"]==('*, New York')]
ny_census.head()

KeyError: 'countystate'

In [4]:
# Census data by metro 1
url = "https://api.census.gov/data/2019/pep/population?get=NAME,POP&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key=6a2106e3c2f11754ccb4d218d7aa0ab5502c5c95"

response = requests.get(url).json()
# pprint(response)

metro_name = []census_by_county_df
pop = []


for elements in response[1:]:
    metro_name.append(elements[0])
    pop.append(elements[1])
    
census_by_metro_df =  pd.DataFrame({"Metro_Name": metro_name,
                                      "Population":pop})   

census_by_metro_df

                   Metro_Name Population
0         Ames, IA Metro Area     123351
1    Amsterdam, NY Micro Area      49221
2    Anchorage, AK Metro Area     396317
3      Andrews, TX Micro Area      18705
4       Angola, IN Micro Area      34594
..                        ...        ...
933       Alma, MI Micro Area      40711
934     Alpena, MI Micro Area      28405
935      Altus, OK Micro Area      24530
936   Amarillo, TX Metro Area     265053
937   Americus, GA Micro Area      34781

[938 rows x 2 columns]